          <p class="nav-subtitle mb-0" style="font-size: 1.2rem;">{{ page.subtitle }}</p>
              <button id="light-toggle" title="Change theme">
                <i class="ti ti-moon-filled" id="light-toggle-dark"></i>
                <i class="ti ti-sun-filled" id="light-toggle-light"></i>
